# Covid Vaccination in England by region and age group

In this notebook we'll learn how to visualise England's Covid vaccination data by region and age group.

In [1]:
import sys
sys.path.append("..")

import pandas as pd
import altair as alt
import data as dt
import numpy as np
from dateutil import parser

import logging
logger = logging.getLogger()
logger.setLevel(logging.CRITICAL)

Public Health England publish this data in a spreadsheet that gets published every Thursday. They sometimes change the structure of the sheets, so it might be that the code in this notebook stops working for later spreadsheets!

In [2]:
latest_weekly_date = parser.parse("2021-04-22")
spreadsheet = f"../data/COVID-19-weekly-announced-vaccinations-{latest_weekly_date.strftime('%-d-%B-%Y')}.xlsx"

There are two sheets that we're interested in: one contains vaccinations administered by age group and locality, the other popularity estimates by age group and locality.

In [148]:
vaccinations = dt.vaccinations_dataframe(spreadsheet)    
population = dt.population_dataframe(spreadsheet)

In [123]:
(vaccinations.head()
.style.format({column: "{:,}" for column in vaccinations.select_dtypes(exclude='string').columns})
.hide_index())

In [124]:
(population.head()
.style.format({column: "{:,}" for column in population.select_dtypes(exclude='string').columns})
.hide_index())

## Vaccinations by region

Let's have a look at how many people have been vaccinated by region. 

The population DataFrame doesn't contain the `UTLA Name` or `Region Name (Administrative)` columns, so let's first add those.

In [ ]:
population = population.merge(vaccinations[["UTLA Name", "Region Name (administrative)", "LTLA Code"]], 
                              left_on="LTLA Code", right_on="LTLA Code")

And now we can group both the populatin and vaccinations given by region name:

In [151]:
population_by_region = population.groupby(["Region Name (administrative)"]).sum()
population_by_region.insert(0, "Region", list(population_by_region.index))
population_by_region.loc[:, "Overall"] = population_by_region.sum(axis=1).astype("int64")

vaccinations_by_region = vaccinations.groupby(["Region Name (administrative)"]).sum()
vaccinations_by_region.insert(0, "Region", list(vaccinations_by_region.index))
vaccinations_by_region.loc[:, "Overall"] = vaccinations_by_region.sum(axis=1).astype("int64")

In [152]:
(population_by_region
 .sort_values(["Overall"], ascending=False)
 .style.format({column: "{:,}" for column in population_by_region.select_dtypes(exclude='object').columns}) 
 .hide_index())

In [153]:
(vaccinations_by_region
 .sort_values(["Overall"], ascending=False)
 .style.format({column: "{:,}" for column in vaccinations_by_region.select_dtypes(exclude='object').columns})
 .hide_index())

In [142]:
vaccination_rates_by_region = ((vaccinations_by_region
    .select_dtypes(exclude='object')
    .div(population_by_region.select_dtypes(exclude='object')) * 100)
    .combine_first(vaccinations_by_region)[vaccinations_by_region.columns])

vaccination_rates_by_region.loc[:, "Overall"] = vaccinations_by_region["Overall"].div(population_by_region["Overall"]) * 100
vaccination_rates_by_region = vaccination_rates_by_region.convert_dtypes()

(vaccination_rates_by_region
 .sort_values(["Overall"], ascending=False)
 .style
 .format({ column: "{:.2f}" for column in vaccination_rates_by_region.select_dtypes(exclude='string').columns})
 .hide_index())

In [75]:
population_by_utla = population.groupby(["UTLA Name"]).sum()
population_by_utla.insert(0, "UTLA Name", list(population_by_utla.index))

vaccinations_by_utla = vaccinations.groupby(["UTLA Name"]).sum()
vaccinations_by_utla.insert(0, "UTLA Name", list(vaccinations_by_utla.index))

display(population_by_utla.head().style.hide_index())
display(vaccinations_by_utla.head().style.hide_index())

In [102]:
vaccination_rates_by_utla = ((vaccinations_by_utla
    .select_dtypes(exclude='object')
    .div(population_by_utla.select_dtypes(exclude='object')) * 100)
    .combine_first(vaccinations_by_utla)[vaccinations_by_utla.columns])

vaccination_rates_by_utla.loc[:, "Overall"] = vaccinations_by_utla.sum(axis=1).div(population_by_utla.sum(axis=1)) * 100
vaccination_rates_by_utla = vaccination_rates_by_utla.convert_dtypes()

formatting = {
    column: "{:.2f}" 
    for column in vaccination_rates_by_utla.drop(["UTLA Name"], axis=1).columns
}
(vaccination_rates_by_utla
 .sort_values(["Overall"], ascending=True)
 .head(10)
 .style.format(formatting)
 .hide_index())

In [104]:
population_by_utla.loc[:, "BabyBoomers"] = (population_by_utla[["55-59","60-64", "65-69", "70-74", "75-79", "80+"]].sum(axis=1) / population_by_utla.sum(axis=1)) * 100

formatting = {
    column: "{:,}" 
    for column in population_by_utla.drop(["UTLA Name", "BabyBoomers"], axis=1).columns
}
(population_by_utla
 .sort_values(["BabyBoomers"], ascending=False)
 .head(10)
 .style.format({**formatting, "BabyBoomers": "{:.2f}"})
 .hide_index())

In [14]:
option = ["Sutton", "South Derbyshire", "Greenwich"]

columns_to_drop = ["Region Code (Administrative)", "Region Name (administrative)", "UTLA Code", "UTLA Name", "LTLA Code"]

local_area = combined.loc[combined["LTLA Name"].isin(option)].drop(columns_to_drop, axis=1)
local_area_absolute = vaccinations.loc[vaccinations["LTLA Name"].isin(option)].drop(columns_to_drop, axis=1)
local_area_population = population.loc[population["LTLA Name"].isin(option)].drop(["LTLA Code"], axis=1)

local_area.rename(columns={"Under 45": "<45"}, inplace=True)
melted_local_area = local_area.melt(value_vars=local_area.columns.drop(["LTLA Name"]), id_vars=["LTLA Name"])
melted_local_area = melted_local_area.rename(columns={"value": "Percentage", "variable": "Age"})    
melted_local_area.reset_index(level=0, inplace=True)

chart = alt.Chart(melted_local_area).mark_bar().encode(
    y=alt.Y('LTLA Name', sort=["index"], axis=alt.Axis(labels=True, ticks=False), title=None),
    x=alt.X('Percentage', scale=alt.Scale(domain=[0, 100])),
    color=alt.Color('LTLA Name', legend=None ),
    row=alt.Row("Age", title=None, sort=["index"]),        
    tooltip=["Age", alt.Tooltip('Percentage', format='.2f')] 
).properties()

chart.save("images/by_local_areas.svg")
chart

alt.Chart(...)

### Vaccination rate by age and local area
<img align="left" src="images/by_local_areas.svg">